streamlit
httpx
pytz
numpy
pandas
streamlit-mic-recorder
duckduckgo-search
Pillow
pypdf
python-docx
groq
requests
googlesearch-python
beautifulsoup4
RestrictedPython
trafilatura
sentence-transformers
langgraph
langchain
langchain-cohere
qdrant-client
langchain-community
qdrant-client
langchain-qdrant
langchain-groq
torchvision